.navbar-santa-monica {
    /* font-family: 'Voga W05 Medium'; */
    font-size: 18;
}
.navbar-brand-desktop {
    font-family: 'Voga W05 Medium';
    font-size: 26px;
    margin-right: 25px;
}

.logo {
    margin-right: 10px;
}