.navbar-santa-monica {
    font-family: 'Voga W05 Medium';
    font-size: 24px;
    display: flex;
}
.navbar-brand {
    font-family: 'Voga W05 Medium';
    font-size: 26px;
    padding: 0 25px 0 25px;
}

.logo {
    margin-right: 10px;
}