.jumbotron-container {
    background-image: 
        url('../../../assets/img/inside/inside-6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.title {
    color: #fff;
    text-shadow: 1px 1px #000;    
  }

.jumbotron {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
}

.button-submit-date {
    margin: 15px;
}

.form-input-date {
    margin: auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.form-label {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.page-footer {
    display: flex;
    background-color: rgba(52, 58, 64);
    color: #fff;    
}

.title-text {
    margin-top: 10px;
}

.footer-copyright {
    margin-top: 25px;
}

ul {
   list-style: none;
}